$col: rgb(187, 255, 0);
$sp: url('img/png/sprite.png');
$font:14px;
@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

%anystyle{
    background: transparent;
    border: 0;
    &:focus{
        outline: none;
    }
}
button{
    @extend %anystyle;
}
header{
    // background-color: silver;
    nav{
        border: 1px solid black;
        background-image: $sp;
        @include border-radius(30px);
        ul{
            list-style: none;
            margin: 0;
            padding:0;
            li{
                display: inline-block;
                @include border-radius(3px);
                a{
                    text-decoration: none;
                    color: black;
                    font-size: $font + 3;
                    &.test{
                        $col: aqua;
                        color: $col;
                    }
                    &:hover{
                        color: $col;
                    }
                    &:before{
                        content: "1";
                    }
                    &:after{
                        content: "2";
                    }
                }
            }
        }
    }
}

.content{
    .p{
        color: blueviolet;
        font-style: italic;
    }
    .p-2{
        @extend .p;
        border: 1px solid black;
        text-decoration: line-through;
    }

    .p-3{
        @extend .p-2;
        text-shadow: 1px 1px 1px rgb(0,0,0);
    }
}